* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: rgb(238, 238, 238);
  color: #2b2b2b;
  font-family: Helvetice, Arial, sans-serif;
  font-size: 1.6rem;
}

input, button, select {
  font-size: 1.3rem;
}

h1 {
  font-weight: 300;
  font-size: 2.4rem;
}

@import "Components/title-bar";
@import "Components/wrapper";
@import "Components/item";
@import "Components/button";
@import "Components/form";
@import "Components/player";